/* Estilo de enlaces dentro del Menu de Usuario */
#usermenu .dropdown-item {
    color: #000 !important;
    font-size: 0.875rem; /* fs-6 equivalente */
}

/*  Opción seleccionada (active) se muestre con letra blanca */
#usermenu .dropdown-item.active {
    color: #fff !important;
    background-color: var(--bs-primary);
    border-radius: 0.375rem; /* Opcional, para esquinas redondeadas */
}
#usermenu .dropdown-item.active i {
    color: #fff !important;
}

/* Hover visual */
#usermenu .dropdown-item:hover {
    color: #fff !important;
    background-color: var(--bs-secondary);
    border-radius: 0.375rem; /* Opcional, para esquinas redondeadas */
}
#usermenu .dropdown-item:hover i {
    color: #fff !important;
}